<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1><b>What would <br> you like to eat?</b></h1>
    </ion-title>
    <ion-buttons size="large" slot="end" icon-only>
      <ion-button size="large">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge color="primary">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scrolling-wrapper">
    <div class="category-card" *ngFor="let category of items.categories ">
      <table style="height: auto; width: inherit;">
        <tr>
          <td style="height:70px; width: 50px; padding: 6px;">
            <img style="display:block;" width="100%" height="100%" src={{category.image}} />
          </td>
          <td style="padding: 6px;">
            <b>{{category.name}}</b> <br>
            <div style="color: #939994;">{{category.restaurants}} Restaurants</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <p></p>

  <div style="margin-left: 10px; position: relative;">
    <ion-searchbar placeholder="Search Restaurants"></ion-searchbar>
  </div>
  <p></p>

  <div style="width: 100%; height: 100px;">
    <div id="restro-heading-1" style="margin-left: 15px;">
      <span style="font-size: 130%;"><b>Populor Restaurant</b> </span>
    </div>
    <div id="restro-heading-2" style="float: right; color:blue;">
      <span>42 nearby</span>
    </div>

    <br>
    <div class="restro-card" *ngFor="let recipe of items.recipes ">
      <table style="height: 100%; width: 100%;" align="center">
        <tr>
          <td style="height:inherit; width: 100%; padding: 6px;  border-radius: 5%;" align="center" colspan=4>
            <img style="display:block;" height="25%" src={{recipe.image}} />
          </td>
        </tr>
        <tr>

          <td style=" height: inherit; width: 25%; padding: 6px;">
            <img style="display:block;" height="15%" src={{recipe.icon}} />
          </td>

          <td style="height:100px; width: 100%; padding: 6px;">
            <h5>{{recipe.name}}</h5>
            <div>
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" checked /><label class="full" for="star5"
                  title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half"
                  for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
                  title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half"
                  for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
                  title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half"
                  for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
                  title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half"
                  for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
                  title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
                  title="Sucks big time - 0.5 stars"></label>
              </fieldset>
            </div>

            <span style="font-size: 10px; color: gray;">({{recipe.reviewsCount}} reviews)</span>

          </td>
          <td style="height:100px; width: 50%; padding: 6px; ">
            <span style="color:blue;">&#36;{{recipe.price}}</span> <br>
            <span style="color: #939994;">Min order</span>

          </td>
        </tr>
        <tr>
          <td style="height:70px; width: 50px; padding: 6px;" colspan=3>
            <div class="tag" *ngFor="let tag of recipe.tags ">
              {{tag}}
            </div>
          </td>
        </tr>
      </table>

    </div>
  </div>


</ion-content>