ion-content {
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 20px;
  --padding-top: 20px;
  background-color: #eef2f7;
}

ion-badge {
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -3px;
  width: 17px;
  height: 17px;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .category-card {
    flex: 0 0 auto;

    height: 80px;
    width: 170px;

    -webkit-box-shadow: 0px 1px 4px 2px rgba(237, 237, 234, 1);
    -moz-box-shadow: 0px 1px 4px 2px rgba(237, 237, 234, 1);
    box-shadow: 0px 1px 4px 2px rgba(237, 237, 234, 1);

    // font-size: 12px;

    margin: 0 20px 0 20px;
    // background: transparent;
    // z-index: 1;
    // text-align: center;
    display: table;
  }
}

.restro-card {
  display: table;
  width: 100%;
  height: 70%;
  border-radius: 5%;
  //background-color: whitesmoke;
  -webkit-box-shadow: 0px 1px 4px 2px rgba(237, 237, 234, 1);
  -moz-box-shadow: 0px 1px 4px 2px rgba(237, 237, 234, 1);
  box-shadow: 0px 1px 4px 2px rgba(237, 237, 234, 1);

  margin-top: 50px;
}

#restro-heading-1,
#restro-heading-2 {
  margin-right: 10px;
  float: left;
  padding-top: 0px;
}

li {
  list-style-type: none;
  display: inline-table;
  height: 30px;
  width: 50px;
  background-color: #bbb;
  border-radius: 10%;
  margin-left: 10px;
}

.tag {
  display: inline;
  float: left;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  width: max-content;
  height: 50%;
  background-color: #bbb;
  border-radius: 7%;
  margin-left: 10px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px;
}
h1 {
  font-size: 1.5em;
  margin: 10px;
}

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
