ion-tab-button {
    position: relative;
  
    
  }
  
  .cart-icon {
    border-radius: 50%;
    border: 2px solid rgb(182, 175, 175);
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    z-index: 9;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(182, 175, 175);
  }


  ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
    &[class*="custom-mynewicon"] {
      mask-image: url(/src/assets/icon/cart.webp);
    }
}


.ion-ios-settings, .ion-md-settings {
    content: url(/src/assets/icon/cart.webp);
    width: 24px;
}
.ion-ios-settings-outline {
    content: url(/src/assets/icon/cart.webp);
    width: 24px;
}
.ion-md-settings[ng-reflect-is-active=false]{
    content: url(/src/assets/icon/cart.webp);
    width: 24px;
}